:host {
  display: block;
  min-height: 100dvh;
  background-color: hsl(0, 0%, 13%);
}

.animation-wrapper {
  position: relative;
  overflow: clip;
  min-height: 100dvh;
  background-color: hsl(0, 0%, 13%);
}
